.general-dialog-content {
  font-size: 12px;
}

.central-title {
  text-align: center;
}

.max-width-input-text {
  width: 100%;
}

.text-align-center {
  text-align: center;
}

.add-image-button-general {
  width: 18px;
}

.add-image-button-general:hover {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  cursor: pointer;
  transform: scale(1.3);
}

.delete-image-button-general{
  width: 18px;
}

.delete-image-button-general:hover{
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  cursor: pointer;
  transform: scale(1.3);
}
